<!DOCTYPE html>
<html lang="en">
<head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title> Admin Dashboard </title>
</head>
<body>

    <a href="/admin/login"> Logout</a>
    <h1 style="padding-left: 40%;"> Hello Admin</h1>

    <div class="main-container">
        <header>
                Admin Dashboard
        </header>

        <div class="d-container">
            <div class="sidebar-menu">
                <div class="upper-sidebar">
                    <img src="../public/admin-photo.png" alt="">
                    <h4>
                        Admin
                    </h4>
                </div>
                <div class="lower-sidebar">
                    <ul>
                        <li> <a href="/admin/dashboard"> <i class="zmdi zmdi-view-dashboard"> </i> Dashboard </a></li>
                        <li><a href="#"> <i class="zmdi zmdi-notifications-add"></i> Add Candidate</a></li>
                        <li><a href="#"> <i class="zmdi zmdi-thumb-up"></i> Update Candidates</a></li>
                        <li><a href="#"> <i class="zmdi zmdi-thumb-up"></i> Update Candidate Details</a></li>
                        <li><a href="#"> <i class="zmdi zmdi-close-circle"></i> Remove Candidate </a></li>

                    </ul>
                    
                </div>
            </div>
            <div class="content">
                <div class="content-top">
                         <div class="toggle">
                            <i class="zmdi zmdi-menu"></i>
                         </div>
                </div>

                <div class="dashboard">
                    <div class="dashHeaderIndex">
                        <div class="numberOfVotingProcesses">
                            <p>TOTAL NUMBER OF VOTING PROCESSES</p>
                            <span id=""></span>
                        </div>
                        <div class="number0fCandidates">
                            <p>NUMBER OF CANDIDATES</p>
                            <span id=""></span>
                        </div>
                        <!-- <div class="numberOfCategories">
                            <p>NUMBER OF CATEGORIES</p>
                            <span id=""></span>
                        </div> -->
                    </div>
                <div class="content-body">
                    <table>
                        <thead>
                            <tr class="tableRow" id="table-header">
                                <th>Name</th>
                                <th> Candidate Details </th>
                                <th> Type of Poll </th>
                                <th> Political Party </th>
                                <th colspan="2" style="align-content: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a href="#"> <button> Update </button></a></td>
                            <td><a href="#"> <button> Delete </button></a></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

</body>
</html>